@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>At Your Service</h1>
    <p class="lead">This app functions as a central repository or library for maintenance records. For those doing their own service on various vehicles, equipment, 
    power tools or household items, this app can help keep track of it all.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

@*<div class="gary">*@

<div class="row">
    <div class="col-md-6">
        <h2>Getting Started</h2>
        <p>
            In order to create a service RECORD, at least one LOCATION and one ITEM must first be added. Use the links at the top of the page to begin.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-6">
        <h2>Navigation</h2>
        <p><img src="@Url.Content("~/Content/Images/edit-16.png")" /> Edit the contents of a record</p>
        <p><img src="@Url.Content("~/Content/Images/details-16.png")" /> Show the details of a record</p>
        <p><img src="@Url.Content("~/Content/Images/delete-16.png")" /> Delete the record</p>
        <p><img src="@Url.Content("~/Content/Images/view-all-16.png")" /> Show all records for the current item</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>
@*</div>*@